$backgroundColor: linear-gradient(to bottom right, #0A0A0A, #050505);
$hoverBtn: #CC5B5B;
$activeBtn: #E34242;
$inactiveBtn: #464646;
$searchField: #000000;
$field: #FAFAFA;
$text: #EBEBEB;
$tileBackground: #C4C4C4;
$tileText: #000000;
$accountField: #404040;

// Font

$paragraph: 14px;
$title: 18px;
$header: 28px;
$brandName: 32px;

