@model CocktailFinder.Models.ViewModel.Cocktail

<div class="cocktail-wrapper">
    <img src="~/Images/assets/mojito.jpeg" class="cocktail-picture"/>
    <div class="title-wrapper">
        <div><h2>@Model.Name</h2></div>
        <div class="rating"><img src="~/Images/assets/Star_rating_4.5_of_5.png" /></div>
    </div>
    <div><p>@Model.Description</p></div>
</div>
