@model List<CocktailFinder.Models.ViewModel.Cocktail>

@{
    ViewBag.Title = "SearchCocktails";
    Layout = "~/Views/Shared/_site.cshtml";
}

<section id="search-result">
    @if (Model == null)
    {
    <div class="no-result">
        <h2>No result</h2>
    </div>

    } else
    {
        @Html.Partial("_result", Model);

    }
</section>
}


