@model IEnumerable<CocktailFinder.Models.ViewModel.Cocktail>
@{
    ViewBag.Title = "TopRated";
    Layout = "~/Views/Shared/_site.cshtml";
}

<section id="top-rated">
    @foreach (var item in Model)
    {
        @Html.Partial("_CocktailTile", item);
    }
</section>


